header{align:center;
  justify-content: flex-start;}
  
  .logo
  {width:75px;
   padding:20px;
   margin-left:auto;
   margin-right:auto;
   flex-basis:50%;
  }
  .head
  {
    
height:45%;
}
  a{text-decoration: none;}
  .cont
  {display:inline-flex;
    align-items:center
    justify-content: right;
    margin-top:-197%;
  }
  .logo1
  {background-color: seashell;
   text-decoration-style: dashed;
   font-family:serif;
   
  }
  
  
  a:hover
  {
   color:white;
  }

  .active {
    background-color: blue;
  }

  

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    margin-top: 0%;
    height:9%;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover 
    background-color: #000;
  }
  





body
{margin:0;
  padding:0;
  height:100vh;
  width:100%;

}

#particles-js
{height:400vh;
background:rgb(22, 83, 94);
margin-top: -1.3%;
width: 100vw;
}

.sidepic
{width:67%;
height:400px;
position:absolute;
left:50%;
top:60%;
transform:translate(-50%,-50%);
background-image: url("alumni.jpg");
background-size:100% 100%;
box-shadow:1px 2px 10px 10px gray;
animation:sidepic 12s infinite linear;
text-align: center;
}
@keyframes sidepic{
  0%{background-image: url("alumni.jpg");}
  35%{background-image: url("uni2.jpg");}
  75%{background-image: url("uni1.jpg");}
  
}


 .abtuss 
 {background-color: lightcoral;
text:black;
line-height: inherit;
width:55%;
font-size:medium;
padding: 10px;
align-items: center;
margin-left:-10%;
}

@media screen and (max-width:800px) 
{ .abtuss{
  width:65%;
  height:auto;
  margin-top: 20%;
  
}
}
.heading
{
text:black;
font-style:serif;

margin-top:100%;
width:55%;
  padding:10px;
  margin-left:-10%;
}

@media screen and (max-width:800px) 
{ .heading{
  width:65%;
  height:auto;
  margin-top:25%;
}
}

  .head1
  {font-weight: bolder;
    font-size: xx-large;
  font-family: sans-serif;
  
  width:55%;
  padding:10px;
  margin-left:-10%;
}

@media screen and (max-width:800px) 
{ .head{
  width:65%;
  
  height:auto;
  margin-top: 15%;
  margin-right:60%;
  
}
}
.list
{background-color: lightcoral;
width:50%;
font-size: medium;
padding:10px;
list-style: none;
margin-left:-10%;
}
.sidepic
{width:70em;
 margin-left: auto;
margin-right: auto;
display:block;
height: 25em;}
.container
{}

@media screen and (max-width:800px) 
{.sidepic{
  width:85%;
  height:40%;
  margin:auto;
} }


.about
{margin-top:-230%;
 margin-left:35%;
 width:75%;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen and (max-width:800px) 
{ .about{
  width:100%;
  height:40%;
  margin-top:-530%;
  text-align: center;
  margin-left: 60px;
}
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
  .navbar{
      margin-top: 0%;
      height:27%;
  }
  .cont{
      margin-top:-18%;

  }
}

